body{
    background-image: url(images/orangetulip.jpg);
    font-family: 'ZCOOL XiaoWei', serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
}
.header{
    text-align: center; 
    padding:35px;
    color:white;
    background-color:rgba(255,40,0,0.4);
    height:200px;
    margin-bottom:70px;
}

.header h1{
    font-size:60px;
}

.eachQuote{
    margin-top:40px;
    margin-left:10%;
   
}

.contents{ 
    height:600px;
    font-size:22px;
    margin-top:30px;
    background-color:rgba(255,40,0,0.3);
    overflow:scroll;
   
}

#detailsButton{
    margin-left:20%;
    margin-top:30px;
    margin-bottom:20px;
    background-color: green;
    color:white;
}

hr{
    border: 1px solid grey;
    margin-bottom:80px;
}

#form-details{
    width:100%;
    height:300px;
    margin-bottom:180px;
}

footer{
    margin-top:200px;
    background-color:rgba(255,40,0,0.5);
    height:200px;
}

#myCard{
    margin-top:20px;
    color:white;
}

.card{
    margin-bottom:40px;
    background-color:rgba(255,40,0,0.7);
}

.card-body h1{
    margin-left:15%;
    margin-top:20px;
    
}

.card-body #detailsButton{
    margin-left:45%;
    font-size:16px;
    margin-top:5px;
    border:green;
    height:34px;
}

.card-header h2{
    margin-left:50px;
}

.card-footer h3{
    margin-left:50px;
}

.voteDetails{
    margin-left:55%;
    
}

.deleteQuote{
    margin-left:44%;
}

.deleteQuote1{
    margin-left:70%;
    margin-top:10px;
}
