body{
    background-image: url(images/orangetulip.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}
.header{
    text-align: center;
    padding:30px;
    color:white;
}

.contents{
    margin-left:30px;
    height:800px;
    font-size:22px;
}