<body>
  <div class="header">
    <h1>QUOTES</h1>
  </div>
  <div class="contents">
    <div *ngFor = 'let quote of quotes;let i = index'>
      <app-quote-details *ngIf="quote.showAuthor" [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
      <li>{{quote.quote}}</li>
      <div class="buttons">
          <div class="row">
            <div class="col-md-6">
              <button id="detailsButton" (click) = 'toggleDetails(i)'>Show Details</button>
            </div>
          </div>
      </div> 
    </div>
  </div>
  
</body>
