<body>
  <div class="header">
    <h1>QUOTES</h1>
    <h3><em>Words are the most powerful drug used by human beings .....</em></h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="form-details">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
      </div> 
    </div> 
  </div>
  <div class="contents">
    <div class="row">
      <div class="col-md-12">
        <div class="eachQuote">
          <div *ngFor = 'let quote of quotes;let i = index'>
              <app-quote-details *ngIf="quote.showAuthor" [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
              <div id="{{i}}">{{quote.quote}}</div>
              <div class="buttons">
                <div class="row">
                  <div class="col-md-6">
                    <button id="detailsButton" (click) = 'toggleDetails(i)'>Show Details</button>
                  </div>
                </div>
              </div> 
          </div>
        </div>
      </div>
    </div> 
  </div>
  <footer></footer> 
</body>
