<body>
  <div class="header">
    <h1>QUOTES</h1>
    <h3><em>Words are the most powerful drug used by human beings .....</em></h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="form-details">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
      </div> 
    </div> 
  </div>
<!-- <div class="contents">
    <div class="row">
      <div class="col-md-12">
        <div class="eachQuote">
          <div *ngFor = 'let quote of quotes;let i = index'>
              <app-quote-details *ngIf="quote.showAuthor" [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
              <div id="{{i}}">{{quote.quote}}</div>
              <div class="buttons">
                <div class="row">
                  <div class="col-md-6">
                    <button id="detailsButton" (click) = 'toggleDetails(i)'>Show Details</button>
                  </div>
                </div>
              </div> 
          </div>
        </div>
      </div>
    </div> 
  </div>--> 
  <hr>
  <div class="container" id="myCard">
      <div class="card" *ngFor = 'let quote of quotes;let i = index'>
        <div class="card-header">
          <h2 *ngIf="showDetails">{{quote.author}}</h2>
        </div>
        <div class="card-body">
          <h1>{{quote.quote}}</h1>
          <button id="detailsButton" (click) = 'toggleQuote()'>{{showDetails? "Hide": "Show"}} Quote Details</button>
        </div> 
        <div class="card-footer" *ngIf="showDetails">
          <div class="row">
            <div class="submitterDetails">
              <h3>Submitted by {{quote.submitter}}, {{quote.completeDate|dateCount}} days ago</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="voteDetails">
                <app-vote></app-vote>
              </div>
            </div>
           <!-- <div class='col-md-2'>
              <div class="deleteQuote1">
                <app-quote-details [quote]='quote' (isComplete)= 'deleteQuote'></app-quote-details>
              </div>
            </div>-->
            
            
          </div>
          <div class="row">
            <div class="deleteQuote">
              <app-quote-details [quote]='quote' (isComplete)= 'deleteQuote'></app-quote-details>
            </div>
          </div>       
        </div>
      </div>
  </div>
  <footer></footer> 
</body>
